<div class="contact-wrap">
    <section class="contact-body">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">ADD STUDENT</span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="vm.backToStudents()"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</a></li>
                    <li><a ng-click="vm.save()"><span class="glyphicon glyphicon-save"></span> {{vm.saveButtonText}}</a></li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.student.student.name" class="form-control" placeholder="Name">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Phone</label>
            </div>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.student.student.phone" class="form-control" placeholder="Phone">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Email</label>
            </div>
            <div class="col-sm-8">
                <input type="email" ng-model="vm.student.student.email" class="form-control" placeholder="Email">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Organization</label>
            </div>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.student.student.organization" class=" form-control" placeholder="Organization Name">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Address</label>
            </div>
            <div class="col-sm-8">
                <div>
                    <input type="email" ng-model="vm.Student.Student.House" class="form-control" placeholder="House">
                    <input type="text" ng-model="vm.Student.Student.Street" class="form-control" placeholder="Street">
                    <input type="text" ng-model="vm.Student.Student.Pobox" class=" form-control" placeholder="Pobox">
                    <input type="text" ng-model="vm.Student.Student.City" class="form-control" placeholder="City">
                    <input type="text" ng-model="vm.Student.Student.ZipCode" class="form-control" placeholder="ZIP code">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Courses</label>
            </div>
            <div class="col-sm-6">
                <select class="form-control" ng-model="vm.Student.Student.Courses">
                    <option value="">Physics</option>
                    <option value="">Math</option>
                    <option value="">Biology</option>
                    <option value="">Chemistry</option>
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" class="btn btn-primary" title="">Add</a>
            </div>
        </div>
    </section>
</div>