<div class="contact-wrap">
    <nav class="contact-nav">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-book"></span> Students</a></li>
            <li><a href="#/studentSearch"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        </ul>
    </nav>
    <section class="contact-body box-right visible">
        <div class="vbox">
            <nav class="navbar navbar-default">
                <div class="container-fluid data-input">
                    <div class="navbar-header">
                        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                            <a ng-click=" addupdateStudentCtr.backToStudents()" class="btn btn-default" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                            <a ng-click="addupdateStudentCtr.save()" class="btn btn-default" role="button"><span class="glyphicon glyphicon-ok"></span> {{addupdateStudentCtr.saveButtonText}}</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <form class="contact-list contact-content">
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <div class="data-input ">
                                    <input type="text" ng-model="addupdateStudentCtr.student.student.name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <div class="data-input ">
                                    <input type="text" ng-model="addupdateStudentCtr.student.student.phone" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <div class="data-input ">
                                    <input type="email" ng-model="addupdateStudentCtr.student.student.email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Organization</label>
                                <div class="data-input ">
                                    <input type="text" ng-model="addupdateStudentCtr.student.student.organization" class=" form-control" placeholder="Organization Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Address</label>
                                <div class="data-input ">
                                    <input type="email" ng-model="addupdateStudentCtr.Student.Student.House" class="form-control" placeholder="House">
                                    <input type="text" ng-model="addupdateStudentCtr.Student.Student.Street" class="form-control" placeholder="Street">
                                    <input type="text" ng-model="addupdateStudentCtr.Student.Student.Pobox" class=" form-control" placeholder="Pobox">
                                    <input type="text" ng-model="addupdateStudentCtr.Student.Student.City" class="form-control" placeholder="City">
                                    <input type="text" ng-model="addupdateStudentCtr.Student.Student.ZipCode" class="form-control" placeholder="ZIP code">
                                </div>
                                <div class="data-read hide">
                                    <div>15/A</div>
                                    <div>Road 16, Dhanmondi</div>
                                    <div>Dhaka</div>
                                    <div>1207</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Courses</label>
                                <div class="data-input ">
                                    <select class="form-control" ng-model="addupdateStudentCtr.Student.Student.Courses">
                                        <option value="">Physics</option>
                                        <option value="">Math</option>
                                        <option value="">Biology</option>
                                        <option value="">Chemistry</option>
                                    </select>
                                    <div>
                                        <a href="#" class="data-input btn btn-primary" title="">Add</a>
                                    </div>
                                </div>
                                <div class="data-read hide">
                                    <div>Physics</div>
                                    <div>Chemistry</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>