<div class="contact-wrap">
    <section class="contact-body ">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a ng-click="vm.backToStudents()" class="navbar-brand">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <span class="navbar-brand">{{vm.student.student.name}}</span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="vm.deleteStudent()"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a></li>
                    <li><a ng-click="vm.editStudent()"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                </ul>
            </div>
        </nav>

        <div class="row form-group">
            <div class="col-sm-4">
                <label class="form-label">Name</label>
            </div>
            <div class="col-sm-8">
                <label class="form-label">{{vm.student.student.name}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Phone</label>
            </div>
            <div class="col-sm-8">
                <label class="form-label">{{vm.student.student.phone}}</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label class="form-label">Email</label>
            </div>
            <div class="col-sm-8">
                <label class="form-label">{{vm.student.student.email}}</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label class="form-label">Organization</label>
            </div>
            <div class="col-sm-8">
                <label class="form-label">{{vm.student.student.organization}}</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label class="form-label">Address</label>
            </div>
            <div class="col-sm-8">
                <label class="form-label">{{vm.student.student.address.house}}</label>
                <label class="form-label">{{vm.student.student.address.street}}</label>
                <label class="form-label">{{vm.student.student.address.poBox}}</label>
                <label class="form-label">{{vm.student.student.address.city}}</label>
                <label class="form-label">{{vm.student.student.address.zipCode}}</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label class="form-label">Courses</label>
            </div>
            <div class="col-sm-8">
                <label class="form-label">Physics</label>
                <label class="form-label">Physics</label>
            </div>
        </div>
    </section>
</div>