<div class="contact-wrap">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6"><label class="form-label">Students List</label></div>
                <div class="col-sm-4"><input type="text" ng-model="vm.searchText" class="form-control" placeholder="Search"></div>
                <div class="col-sm-2">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.searchStudents()" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="list-group" ng-repeat="student in vm.students">
                <a ng-click="vm.studentDetails(student.id)" class="list-group-item">
                    <h4 class="list-group-item-heading ellipsis">{{student.name}}</h4>
                    <p class="list-group-item-text text-muted ellipsis">{{student.phone}}</p>
                </a>
            </div>
        </div>
        <div class="panel-footer">
            <div ng-if="vm.students.length > 0">
                <ul uib-pagination ng-model="vm.pageNumber" ng-change="vm.pageChanged()" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
            </div>
        </div>
    
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="vm.studentCreate()">
            <span class="glyphicon glyphicon-plus-sign">
                Add new student
            </span>
        </button>

    </div>
</div>
