body{
	color: #000;
}
h4 {
	font-size: 16px;
}
.text-strong {
	font-weight: bold;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	display: block;
}
.contact-wrap {
	margin: 15px auto;
	width: 600px;
	height: 800px;
	position: relative;
	overflow: hidden;
}
.contact-body {
	position: absolute;
	top: 42px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #EFEFEF;
	border: 1px solid #DDD;
	border-top-width: 0px;
	border-top-color: #DDD;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
	.contact-body.box-left {
		-webkit-transform: translateX(-600px);
		-ms-transform: translateX(-600px);
		-o-transform: translateX(-600px);
		-moz-transform: translateX(-600px);
		transform: translateX(-600px);
	}
	.contact-body.box-right {
		-webkit-transform: translateX(600px);
		-ms-transform: translateX(600px);
		-o-transform: translateX(600px);
		-moz-transform: translateX(600px);
		transform: translateX(600px);
		background-color: #FFF;
	}
	.contact-body.visible {
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
.vbox {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 240px;
	border-spacing: 0;
}
	.vbox .row-row {
		display: table-row;
		height: 100%;
	}
		.vbox .row-row .cell {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
			.vbox .row-row .cell .cell-inner {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
.contact-content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
}
.contact-list {
	left: 15px;
	overflow-x: hidden;
}
	.contact-list.has-aside {
		right: 40px;
	}
	.contact-list.has-nav {
		top: 51px;
	}
.contact-index {
	position: absolute;
	right: 0;
	width: 40px;
}
	.contact-index  ul {
		margin: 0;
	}
		.contact-index  ul li{
			padding: 3px 0;
		}
.list-group-item-heading {
	text-transform: capitalize;
}

.navbar-default, .form-control {
	margin-bottom: 10px;
}
.input-group .form-control{

}
.btn-lg {
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
}
.btn-lg,
.navbar-default,
.list-group,
.list-group-item:first-child,
.list-group-item:last-child{
	border-radius: 0px;
}

.navbar-header .input-group, .navbar-header .btn-group {
	margin-top: 7px;
}
.panel {
	border-width: 0;
	margin-bottom: 0;
	background: transparent;
}

.panel-heading, .panel-body {
	padding: 0;
}
.panel-title, .form-label {
	color: #0AF;
	text-transform: uppercase;
	display: block;
	font-weight: normal;
}
.panel-title {
	padding: 15px 0 5px;
	margin: 0;
}
.panel-body .list-group {
	margin: 0;
}
.panel-footer {
	background-color: rgba(0, 0, 0, 0);
	color: #FFF;
	padding: 5px 0;
	border-top: 1px solid #0AF;
}
	.panel-footer a {
		color: #EFEFEF;
	}
		.panel-footer a:hover {
			color: #FFF;
		}
	.panel-footer .pagination {
		margin: 0;
	}