
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.row {
    margin-bottom: 20px;
}

    .row .row {
        margin-top: 10px;
        margin-bottom: 0;
    }


[class*="col-"] {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}

.contact-wrap {
    width: 700px;
    margin: 0px auto;
    height: 900px;
    position: relative;
    overflow: hidden;
}

.contact-body {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #EFEFEF;
    border: 1px solid #DDD;
    border-top-width: 0px;
    border-top-color: #DDD;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}



.list-group-item-heading {
    text-transform: capitalize;
}

.btn-lg {
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.btn-lg,
.navbar-default,
.list-group,
.list-group-item:first-child,
.list-group-item:last-child {
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.navbar-header .input-group, .navbar-header .btn-group {
    margin-top: 7px;
}


.panel {
    border-width: 0;
    margin-bottom: 0;
    background: transparent;
}

.panel-title {
    padding: 15px 0 5px;
    margin: 0;
}

.panel-title, .form-label {
    color: #0AF;
    text-transform: uppercase;
    display: block;
    height: 29px;
    padding: 5px;
}

.panel-heading, .panel-body {
    padding: 0;
}


.panel-body .list-group {
    margin: 0;
}

.panel-footer {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    padding: 5px 0;
    border-top: 1px solid #0AF;
}

    .panel-footer a {
        color: #EFEFEF;
    }

        .panel-footer a:hover {
            color: #FFF;
        }

    .panel-footer .pagination {
        margin: 0;
    }


.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 1);
    }

        .card.hovercard .card-background {
            height: 130px;
        }

.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    -moz-min-width: 130%;
    -ms-min-width: 130%;
    -o-min-width: 130%;
    -webkit-min-width: 130%;
    min-width: 130%;
}

.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

    .card.hovercard .useravatar img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.5);
    }

.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}

    .card.hovercard .card-info .card-title {
        padding: 0 5px;
        font-size: 20px;
        line-height: 1;
        color: #262626;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }

.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-pref .btn {
    -webkit-border-radius: 0 !important;
}
