
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
               User Menu
            </a>
        </li>


        <li>
            <a href="#/home">Dashboard</a>
        </li>
        <li>
            <a href="#/courses">Courses</a>
        </li>
        <li>
            <a href="#/students">students</a>
        </li>
        <li>
            <a href="#/customers">Customer</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
